{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Mentions légales{% endblock %}

{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> MENTIONS LEGALES </h1>
    <h2 class="text-center text-secondary mb-4 pb-4 display-2"> Site en construction </h2>

{% endblock %}