{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}À propos
{% endblock %}

{% block body %}
	<style>
		.gradient-text {
			background-image: linear-gradient(to right, #00bfff, #32cd32);
			-webkit-background-clip: text;
			-moz-background-clip: text;
			background-clip: text;
			color: transparent;
		}
		html,
		body {
			background: none;
			background-color: white;
		}
	</style>

	<h1 class="text-center gradient-text mt-4 pt-4 display-1 fw-bold">
		À PROPOS
	</h1>
	<h2 class="text-center text-secondary mb-4 pb-4 display-2">
		Site en construction
	</h2>


	<strong>
		À propos du Golf d’Arras
	</strong>
	<p>
		Le Golf d’Arras est une société spécialisée dans le golf qui s'engage à vous vendre des services de qualité. Nous proposons clubs, vêtements, accessoires de golf de haute qualité et nous nous efforçons d'offrir à nos clients une expérience exceptionnelle.
	</p>

	<p>
		Fondé en 1990, le Golf d’Arras bénéficie de 33 ans d'expérience. Notre équipe talentueuse et passionnée possède une expertise approfondie dans tout ce qui touche au domaine du golf et travaille avec dévouement pour répondre aux besoins uniques de nos clients.
	</p>

	<p>
		Notre mission est de vous fournir tous les services dont vous avez besoin pour jouer au golf dans de bonnes conditions. Nous croyons fermement au relationnel et nous nous efforçons de l'intégrer dans tout ce que nous faisons. Nous collaborons étroitement avec nos clients pour comprendre leurs besoins et leur offrir des solutions personnalisées qui les aident à atteindre leurs objectifs.
	</p>

	<p>
		Au Golf d'Arras, nous sommes fiers de nos réalisations. Nous avons établi des partenariats solides avec des entreprises renommées et avons été reconnus pour notre excellence avec l'accueil de l'Open de France Dames de golf, tournoi du Ladies European Tour à 11 reprises. Ces accomplissements témoignent de notre engagement envers l'excellence et de notre dévouement à fournir des résultats exceptionnels.
	</p>

	<p>
		Nous sommes ravis de vous servir et de vous accompagner dans votre parcours vers la réussite dans le golf. N'hésitez pas à nous contacter à <br>
         Ce numéro : 03 21 50 24 24 <br>
         Cette adresse : Rue Briquet Taillandier, 62223 Anzin-Saint-Aubin <br>
        pour discuter de vos besoins ou pour obtenir de plus amples informations. Nous sommes impatients de collaborer avec vous et de contribuer à votre succès.
	</p>

	<p>
		Merci de visiter le Golf d'Arras et de découvrir ce que nous avons à offrir. Nous espérons avoir l'occasion de vous servir et de vous offrir une expérience exceptionnelle.
	</p>

{% endblock %}

