{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Test{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 pt-4 display-1 fw-bold"> TEST </h1>
         
         <div class="card" style="width: 18rem;">
 
  <div class="card-body">
    <h5 class="card-title">Test</h5>
    <p class="card-text"></p>
  </div>
</div>
         

{% endblock %}