<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block stylesheets %}
			<!-- Bootstrap CSS -->
			<link href="https://bootswatch.com/5/lumen/bootstrap.min.css" rel="stylesheet">
		{% endblock %}
		<title>
			{% block title %}Golf -
			{% endblock %}
		</title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-black">
			<div class="container-fluid">
				<a class="navbar-brand text-center" href="#">
					Golf

					<div class="container-fluid nav-item">
						<div class="carousel slide carousel-fade" data-bs-ride="carousel" id="carousel">

							<div class="carousel-inner ">
								<div class="carousel-item active" data-bs-interval="2000">
									<img src="Img-navbar/Swing1-t.png" alt="golf1" width="100" height="100">
								</div>
								<div class="carousel-item" data-bs-interval="2000">
									<img src="Img-navbar/Swing2-t.png" alt="golf2" width="100" height="100">
								</div>
								<div class="carousel-item" data-bs-interval="2000">
									<img src="Img-navbar/Swing3-tb.png" alt="golf3" width="100" height="100">
								</div>
								<div class="carousel-item" data-bs-interval="2000">
									<img src="Img-navbar/Swing4-t.png" alt="golf4" width="100" height="100">
								</div>
								<div class="carousel-item" data-bs-interval="2000">
									<img src="Img-navbar/Swing5-t.png" alt="golf5" width="100" height="100">
								</div>
							</div>
						</div>
					</div>
				</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="{{path('index')}}">Accueil
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('proshop')}}">Proshop</a>
						</li>
					</ul>
					<ul class="navbar-nav justify-content-end">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Identification</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">S'inscrire</a>
								<a class="dropdown-item" href="#">Se connecter</a>
								<div></li>
							</ul>
						</li>
					</div>
				</div>
			</nav>

			<!-- 
			1) Finir la gauche de la navbar :
			    - Centrer le carousel dans le petit cadre
			    - Régler le débordement sur la navbar
			
			2) Agrandir l'écriture des pages à la suite de la navbar
			
			3) Mettre un fond flou avec le parcours du golf
			
			4) Aller plus loin :
			    - Analyser le contenu des "à propos" et "mentions légales" des sites, 
			    - Comprendre
			    - Créer ou copier coller
			
			5) Rendre la navbar qui est en bas dans un format "footer" en gardant le même visuel
			
			À part :
			  - Voir si on peut créer nos images nous-même, comme ça on peut faire plusieurs images et faire un GIF propre qui remplacera le carousel ou avoir plusieurs images de même taille qui seront donc adaptées
			  - Quand je vais mettre le fond du parcours de golf, il se peut que le fond soit trop grand, s'il va on peut s'en foutre ou non mais j'aimerai connaitre un peu mieux le fonctionnement dans le cas où ça ronge/rogne l'image
			-->

			{% block body %}{% endblock %}

			<nav class="navbar navbar-expand-lg navbar-dark bg-black">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav me-auto"></ul>
						<ul class="navbar-nav justify-content-end">
							<li class="nav-item">
								<a class="nav-link" href="#">Mentions légales</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">À propos</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

		</body>

		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
